<header id="header">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1><a href="#">Battle Faces</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li>{{#linkTo "battle_faces"}}Battle Faces!{{/linkTo}}</li>
        <li>{{#linkTo "top_secret"}}Top Secret{{/linkTo}}</li>
        {{#if isAuthenticated}}
          <li><a href="#">{{currentMasterFace.email}}</a></li>
          <li><a href="#" {{action 'logout'}}>Logout</a></li>
        {{else}}
          <li>{{#linkTo "master_faces.new"}}Register{{/linkTo}}</li>
          <li>{{#linkTo "sessions.new"}}Login{{/linkTo}}</li>
        {{/if}}
      </ul>
    </section>
  </nav>
</header>

<body>

  <div id="content">
    {{outlet}}
  </div>
</body>
