<header id="header">
  <h2>{{#linkTo "index"}}Home{{/linkTo}}</h2>

  <nav>
    <ul>
      <li>{{#linkTo "battle_faces"}}Battle Faces!{{/linkTo}}</li>
      <li>{{#linkTo "top_secret"}}Top Secret{{/linkTo}}</li>
      <li>{{#linkTo "master_faces.new"}}Register{{/linkTo}}</li>
      <li>{{#linkTo "sessions.new"}}Login{{/linkTo}}</li>
    </ul>
  </nav>
</header>

<div id="content">
  {{outlet}}
</div>
