/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
ul {
  list-style-type: none;
  display: inline;
}

.active {
  .small-tile {
    border-style: solid;
    border-width: 6px;
    border-color: #2accac;

    padding: 4px;
  }
}

.small-tile {
  &.active {
    border-style: solid;
    border-width: 6px;
    border-color: #2accac;
  }
  cursor: pointer;
  display: inline-block;
  background-color: #1abc9c;
  height: 125px;
  width: 125px;
  padding: 10px;
  margin: 5px;
}

.tile-text {
  color: #ecf0f1;
  font-size: 32px;
}
